body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282a36;
    /* Dark background for style */
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


header h1 {
    margin-right: 20px;
    /* Adjust spacing between the icon and text */
}

.welcome {
    background: white;
    color: #333;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.search-box input[type="text"],
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;


}

.wrapper {
    width: 325px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;

}

.wrapper .input-data {
    height: 30px;
    width: 100%;
    position: relative;
    margin-left: 20px;

}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 13px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;

}

.input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before {
    transform: scaleX(1);
}

.search-box button {
    padding: 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;

}

.search-box button {
    background-color: #50fa7b;
    /* Greenish button */
    color: #282a36;
    /* Dark text */
    cursor: pointer;
}

.search-box button:hover {
    background-color: rgba(13, 206, 55, 0.919);
    /* darker green on hover */
}

#clearButton {
    background-color: #ff2800;
    /* red color */
    color: white;
    /* text color */
    border: none;
    /* remove border */
    cursor: pointer;
    /* change cursor to pointer */
}

#clearButton:hover {
    background-color: #cc0000;
    /* darker red color on hover */
}

/* Map container */
#map {
    height: 65%;
    /* You can set the height as needed */
    width: 100%;
}

/* Route display */
#routeDisplay {
    background-color: #f0f0f0;
    /* Light background for visibility */
    color: #333;
    /* Dark text for contrast */
    padding: 20px;
    margin-top: 20px;
}


/* Responsive design adjustments as needed */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
    }

    .search-box input[type="text"],
    .search-box button {
        width: 100%;
        margin: 5px 0;
    }
}

table,
th,
td {
    border: 1px solid #282a36;
    border-collapse: collapse;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;

}

th {
    background-color: #282a36;
    color: #fff;
}

td {
    font-size: 16px;
    color: #282a36;
    text-transform: uppercase;
    background-color: #fff;
}

/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;  
  }
  .custom-select-wrapper select {
    display: none;
    }

  .custom-select {
    position: relative;
    display: inline-block;
    z-index: 1000;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 300px;
      padding: 23px 84px 23px 22px;
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      line-height: 20px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
      
    }
    /* arrow */
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
        
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
 
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: grid;
    grid-template-columns: 210px repeat(3, 2fr);
    top: 100%; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      
      position: absolute;
      display: grid;
      grid-template-columns:210px repeat(3, 2fr);
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: grid;
      grid-template-columns: 210px repeat(3, 2fr);
      padding: 10px 15px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 14px;
      font-weight: 300;
      color: #282a36;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;

    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #D3D3D3;
    }   
