body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282a36;
    /* Dark background for style */
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


header h1 {
    margin-right: 20px;
    /* Adjust spacing between the icon and text */
}

.welcome {
    background: white;
    color: #333;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.search-box input[type="text"],
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;


}

.wrapper {
    width: 325px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;

}

.wrapper .input-data {
    height: 30px;
    width: 100%;
    position: relative;
    margin-left: 20px;

}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 13px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;

}

.input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before {
    transform: scaleX(1);
}

.search-box button {
    padding: 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;

}

.search-box button {
    background-color: #50fa7b;
    /* Greenish button */
    color: #282a36;
    /* Dark text */
    cursor: pointer;
}

.search-box button:hover {
    background-color: rgba(13, 206, 55, 0.919);
    /* darker green on hover */
}

#clearButton {
    background-color: #ff0000;
    /* red color */
    color: white;
    /* text color */
    border: none;
    /* remove border */
    cursor: pointer;
    /* change cursor to pointer */
}

#clearButton:hover {
    background-color: #cc0000;
    /* darker red color on hover */
}

/* Map container */
#map {
    height: 65%;
    /* You can set the height as needed */
    width: 100%;
}

/* Route display */
#routeDisplay {
    background-color: #f0f0f0;
    /* Light background for visibility */
    color: #333;
    /* Dark text for contrast */
    padding: 20px;
    margin-top: 20px;
}


/* Responsive design adjustments as needed */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
    }

    .search-box input[type="text"],
    .search-box button {
        width: 100%;
        margin: 5px 0;
    }
}

table,
th,
td {
    border: 1px solid #282a36;
    border-collapse: collapse;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;

}

th {
    background-color: #282a36;
    color: #fff;
}

td {
    font-size: 16px;
    color: #282a36;
    text-transform: uppercase;
    background-color: #fff;
}






.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
    
  }
  
  .select-selected {
    background-color: #89CFF0;
    
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 28px;
    right: 15px; 
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 17px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    border-radius: 5px;
    padding: 22px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    color: #282a36;

  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #89CFF0;
    right: -60%;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color:#282a36;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }