body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282a36; /* Dark background for style */
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.search-box input[type="text"],
.search-box button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.search-box button {
    background-color: #50fa7b; /* Greenish button */
    color: #282a36; /* Dark text */
    cursor: pointer;
}

/* Map container */
#map {
    height: 400px; /* You can set the height as needed */
    width: 100%;
    margin-top: 20px;
}

/* Route display */
#routeDisplay {
    background-color: #f0f0f0; /* Light background for visibility */
    color: #333; /* Dark text for contrast */
    padding: 20px;
    margin-top: 20px;
}

/* Responsive design adjustments as needed */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
    }

    .search-box input[type="text"],
    .search-box button {
        width: 100%;
        margin: 5px 0;
    }
}

